#footer {
    margin-bottom: 1.2rem;
}

#footer-stripe-container {
    width: 100%;
    height: 22px;
    display: flex;
    margin-top: 32px;
}

#footer-stripe {
    margin-bottom: 0;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
